@font-face {
    font-family: 'Ava Meridian';
    src: url("fonts/AvaMeridian.otf")format("opentype");
  }

  @font-face {
    font-family: 'Montserrat Bold';
    src: url("fonts/Montserrat-Bold.otf")format("opentype");
  }

  @font-face {
    font-family: 'Montserrat Medium';
    src: url("fonts/Montserrat-Medium.otf")format("opentype");
  }

  @font-face {
    font-family: 'Montserrat Light';
    src: url("fonts/Montserrat-Light.otf")format("opentype");
  }

#root {
    text-align: center;
}

#header-container {
    background-color: blue;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center
}

#title {
  color: white;
  font-family: "Montserrat Bold";
}

#q-and-a-s {
    display: flex;
    flex-direction: column;
}
.question-block {
    margin: 0 auto;
    text-align: left;
    max-width: 850px;
}

.question {
    font-family: "Montserrat Bold"
}

.answer {
    font-family: "Montserrat Medium";
}