@font-face {
  font-family: "AvertaDemo";
  src: local("AvertaDemo"),
    url(./fonts/AvertaDemoPE-Regular.otf) format("opentype");
}

@font-face {
  font-family: "AvaMeridian";
  src: local("AvaMeridian"), url(./fonts/AvaMeridian.otf) format("opentype");
}

@keyframes slideFadeUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFadeDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideFadeLeft {
  from {
    transform: translateX(10vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFadeRight {
  from {
    transform: translateX(-10vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInHeaderBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  /* reset userAgent stylesheet */
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
